[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/nancologist
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nancologist
	label-Verified = -1..+1 group user/nancologist
	push = group user/nancologist
	read = group user/nancologist
	rebase = group user/nancologist
	removeReviewer = group user/nancologist
	submit = group user/nancologist
[access "refs/heads/*"]
	create = group user/nancologist
	push = +force group user/nancologist
	pushMerge = group user/nancologist
	read = group user/nancologist
[access "refs/tags/*"]
	push = group user/nancologist
	push = +force group user/nancologist
